<h2>All</h2>

<div class="row row-cols-1 row-cols-md-4">
  <%= render @actors %>
</div>

<% @groups.each do |group| %>
  <h2 class="mt-5"><%= group.name %></h2>
  <div class="row row-cols-1 row-cols-md-4">
    <%= render @actors.filter { |a| a.id.in? group.group_members } %>
  </div>
<% end %>

